@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


.fourth_box
{
    width: 100vw;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(34, 34, 34);
}
.fourth_leftbox
{
    width: 55%;
    min-height:700px;
    background-color: rgb(34, 34, 34);
    margin-top: 70px;
}
.fourth_box_outter
{
    display: flex;
    justify-content: space-between;
}
.fourth_rightbox
{
    width: 30%;
    min-height:700px;
    margin-top: 70px;
    /* background-color: rgb(34, 34, 34); */
    background-color: rgb(34, 34, 34);
}
.fourth_rightbox h3
{
    color: white;
    float: left;
    margin-bottom: 70px;
}
.fourth_leftbox_inside
{
    width: 20%;
    min-height: fit-content;
}

.fourth_righttbox_inside
{
    height: 188px;
    width: 73%;
    background-color: rgb(34, 34, 34);
    text-align: left;
}
#fourth_righttbox_inside_p
{
    color: rgb(141, 141, 141);
    font-weight: 400;
    line-height: 30px;
    width: 128%;
}
.top_5_this_week_img1, .top_5_this_week_img2, .top_5_this_week_img3, .top_5_this_week_img4, .top_5_this_week_img5
{
    position: relative;
}
.top_5_this_week_img1::after
{
    content: '01';
    width: 40px;
    height: 40px;
    background-color: rgb(251, 81, 124);
    position: absolute;
    top: -30px;
    left: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.top_5_this_week_img2::after
{
    content: '02';
    width: 40px;
    height: 40px;
    background-color: rgb(12, 236, 209);
    position: absolute;
    top: -30px;
    left: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.top_5_this_week_img3::after
{
    content: '03';
    width: 40px;
    height: 40px;
    background-color: rgb(68, 135, 218);
    position: absolute;
    top: -30px;
    left: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.top_5_this_week_img4::after
{
    content: '04';
    width: 40px;
    height: 40px;
    background-color: rgb(245, 237, 9);
    position: absolute;
    top: -30px;
    left: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.top_5_this_week_img5::after
{
    content: '05';
    width: 40px;
    height: 40px;
    background-color: rgb(141, 81, 137);
    position: absolute;
    top: -30px;
    left: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}


