@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

#chckbox_label
{
    color: aqua;
    margin-top: 10px;
    cursor: pointer;
}
#second_p
{
    display: none;
}
#chkbox_readmore:checked ~ #second_p
{
    display: block;
}
#chkbox_readmore:checked ~ #chckbox_label
{
    display: none;
}
#chkbox_readmore1:checked ~ #second_p
{
    display: block;
}
#chkbox_readmore1:checked ~ #chckbox_label
{
    display: none;
}
#chkbox_readmore2:checked ~ #second_p
{
    display: block;
}
#chkbox_readmore2:checked ~ #chckbox_label
{
    display: none;
}
#chkbox_readmore3:checked ~ #second_p
{
    display: block;
}
#chkbox_readmore3:checked ~ #chckbox_label
{
    display: none;
}
