@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


*
{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
}
body
{
    background: rgb(88, 88, 88);
}
.first_box
{
    width: 100vw;
    background: rgb(211, 198, 198);
    position: relative;
}
.header
{
    background: rgb(57, 56, 56);
    width: 66vw;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.thequestlogo_div
{
    height: 100px;
    width: 29%;
    background: rgb(16, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
}
#thequest_logo
{
    height: 80px;
    transform: scale(0.8);
}
.header_navigation
{
    height: 100px;
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_navigation ul
{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 253, 253);
    font-size: 16px;
    font-weight: 550;
    font-family: Roboto,sans-serif;
}
.header_navigation ul li
{
    position: relative;
    color: white;
}
.header_navigation ul li::after
{
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgb(16, 221, 180);
    position: absolute;
    bottom: -10px;
    left: 0px;
    transition: all 0.3s ease-in;
}
.header_navigation ul li:hover::after
{
    width: 100%;
}
#firstbox_advertisement
{
    position: absolute;
    width:40%;
    height: 135px;
    right:0px;
    top:0px;
    z-index: -1;
}
.second_box
{
    width:100vw;
    min-height:  650px;
    background-image:url(bgimage1.jpg);
    background-size: cover;
    /* filter: brightness(50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* animation-name: second_box_ani;
    animation-duration: 3s;
    animation-timing-function: linear;
    /* animation-iteration-count: ; */
    /* animation-fill-mode: forwards; */
} 
#second_box_h1
{
    color: white;
    width: fit-content;
    height: fit-content;
    font-size:90px;
    font-family: Roboto,sans-serif;
    text-align: center;
    font-weight: bolder;
}
#second_box_p
{
    color: rgb(135, 141, 141);
    font-size: 22px;
    width: 900px;
    text-align: center;
    font-family: Roboto,sans-serif;;
}
#second_box_button
{
    background: rgb(16, 221, 180);
    width: 171px;
    border-radius: 50px;
    border: none;
    height: 55px;
    font-family:Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(33, 37, 41);
    font-style: normal;
}
a
{
    text-decoration: none;
    color: black;
}
.second_box::after
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    width: 0%;
    height: 5px;
    background: rgb(16, 221, 180);
    border-radius: 10px;
    animation-name: progress_div;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#second_box_h1,#second_box_p,#second_box_button
{
    animation: second_box_ani;
    animation-duration: 1.5s;
    animation-iteration-count:1;
    animation-timing-function:ease;
    animation-direction:alternate;
    overflow: hidden;
    
}
@keyframes progress_div
{
    from
    {
        width: 0%;
    }
    to
    {
        width: 100%;
    }
}
@keyframes second_box_ani
{
0%
{
    transform: translateY(100px);
}
50%
{
    
}
99%
{
    transform: translateY(0px);
}
100%
{
    /* transform: translateY(0px); */
    
}
}
.third_box
{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(28, 28, 28);
    padding-top: 90px;
}
.left_box
{
    width: 55%;
    min-height:2300px;
    background-color: rgb(28, 28, 28);
}
.right_box
{
    width: 30%;
    min-height:2300px;
    background-color: rgb(28, 28, 28);
}
#chinese_home_image
{
    width: 100%;
    height:400px;
}
#search_box
{
    width: 100%;
    height: 70px;
    border:none;
    border-bottom: 4px solid rgb(16, 221, 180);
    outline: none;
    position: relative;
    border-radius: 0px;
    padding: 30px;
}
#search_box::placeholder
{
    text-align: left;
}
#Categories
{
    float: left;
    color: rgba(255, 255, 255, 0.937);
    font-family: Roboto,sans-serif;
}
#Categories_list
{
    float: left;
    width: 100%;
}
#Categories_list li
{
    text-align: left;
    padding-top: 20px;
    font-family: Roboto,sans-serif;
    color: rgba(255, 255, 255, 0.548);
    font-size: 16px;
    font-weight:350;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gamingtips
{
    border-radius: 50%;
    min-width: 23px;
    min-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 13px;
    margin-right: 40px;
    font-weight: 400;
}
#Categories_list span
{
    font-family: Roboto,sans-serif;
}
#Categories_list li:nth-child(1) span
{
    background-color: rgb(16, 221, 180);
}
#Categories_list li:nth-child(2) span
{
    background-color: rgb(255, 0, 162);
}
#Categories_list li:nth-child(3) span
{
    background-color: rgb(246, 255, 0);
}
#Categories_list li:nth-child(4) span
{
    background-color: rgb(24, 87, 143);
}
#Categories_list li:nth-child(5) span
{
    background-color: rgb(149, 70, 136);
}
#Categories_list li:nth-child(6) span
{
    background-color: rgb(212, 119, 31);
}
.left_box h4
{
    width: 110px;
    height: 22px;
    background-color: rgb(16, 221, 180);
    float: left;
    padding-top: 4px;
    font-family: Roboto,sans-serif;
}
.left_box h1
{
    color:white;
    float: left;
    font-family: Roboto,sans-serif;
    font-size: 35px;
}
.byadmin 
{
    width: 100%;
    display: flex;
    margin-top: 0px;
}
.left_box .byadmin h5
{
    color: rgba(255, 255, 255, 0.594);
    display: inline-block;
    border:none;
    border-right: 1px white solid;
    width: fit-content;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    font-weight: 50;
}

.byadmin h5:nth-child(3)
{
    border: none;
}
.byadmin a
{
    color: rgb(16, 221, 180);
    font-family: Roboto,sans-serif;
}
.left_box p
{
    color: rgb(140, 140, 140);
    font-family:Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}
#leftbox_readmore
{
    background: rgb(16, 221, 180);
    width: 171px;
    border: none;
    border-radius: 50px;
    height: 57px;
    font-family:Roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(33, 37, 41);
    font-style: normal;
    float: left;
    margin-top: 30px;
    cursor: pointer;
}
#latest_news
{
    float: left;
    color: rgba(255, 255, 255, 0.937);
    margin-top: 70px;
    font-family: Roboto,sans-serif;
}
.latestnews_outbox
{
    width: 100%;
    height: 500px;
    margin-top: 420px;
    /* background-color: rgb(171, 0, 0); */
}
.latestnews_inside_box
{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 18px;
    padding-top: 2px;
}
.latestnews_leftbox
{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.latestnews_rightbox
{
    width: 78%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.789);
}
.latestnews_h4
{
    width: 100px;
    height: 20px;
    background-color: rgb(16, 221, 180);
    float: left;
    padding-top: 1px;
    font-family: Roboto,sans-serif;
    color: black;
    margin-top: 0px;
}
.latestnews_rightbox p
{
    font-family: Roboto,sans-serif;
    text-align: left;
    font-weight: 500;
    color: white;
    margin-top: 15px;
}
.latestnews_byadmin
{
    display: flex;
    align-items: center;
    justify-content: left;
    height: fit-content;
    margin-top: 15px;
}
.latestnews_byadmin h5
{
    color: rgba(255, 255, 255, 0.594);
    border:none;
    border-right: 1px white solid;
    width: 80px;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    text-align: left;
}
.latestnews_byadmin h5:nth-child(1)
{
    width: 60px;
}
.latestnews_byadmin h5:nth-child(2),h5:nth-child(3)
{
    text-align: center;
}
.latestnews_byadmin h5:nth-child(3)
{
    border: none;
}
.latestnews_byadmin a
{
    color: rgb(249, 245, 4);
}
.best_games_outter
{
    display: flex;
    width: 100%;
    margin-top: 150px;
    justify-content: space-between;
}
.bestgames h2,.tips_to_play h2
{
    float: left;
    color: beige;
}
.best_games_outter a
{
    color: rgb(249, 245, 4);
}
.third_box .left_box p,#chckbox_label
{
    text-align: left;
    float: left;
}
.bestgames,.tips_to_play
{
    width: 48%;
}
.best_games_outter img
{
    margin-top: 45px;
}
.latestcomnt_belowbox_outter2
{
    margin-top: 45px;
}
.latestcomnt_belowbox_outter
{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.latestcomnt_belowbox_img
{
    height: fit-content;
    width: fit-content;
    background-color: blue;
    border-radius: 50%;
    overflow: hidden;
}
.latestcomnt_belowbox_text
{
    width: 80%;
    height: 56px;
    text-align: left;
    color: rgb(255, 255, 255);
    padding-top: 5px;
}
#latestcomnt_belowbox_p
{
    color: rgb(16, 221, 180);
    font-size: 15px;
}
#latestcomnt_belowbox_date
{
    margin-top: 10px;
    color: rgb(161, 152, 144);
    font-weight: 500;
    font-size: 14px;
}